<strong>Olá, {{ deliveryman }}</strong>
<p>
  Informamos que a entrega do produto <strong>{{ product }}</strong> foi cancelada.
</p>
<p>
  Segue abaixo o problema que resultou no cancelamento da entrega.<br /><br />
  {{ description }}
</p>
